/Elysium/.vs/Elysium/DesignTimeBuild/.dtbcache.v2
/Elysium/.vs/Elysium/v16/*.suo
/Elysium/.vs/Elysium/v17/.futdcache.v1
/Elysium/.vs/Elysium/v17/*.suo
/Elysium/.vs/Elysium/FileContentIndex/*.vsidx
/Elysium/.vs/Elysium/FileContentIndex/*.lock
/Elysium/.vs/ProjectEvaluation/*.v2
/Elysium/ImportLocations/bin/Debug/net6.0/ImportLocations.deps.json
/Elysium/ImportLocations/bin/Debug/net6.0/*.dll
/Elysium/ImportLocations/bin/Debug/net6.0/*.exe
/Elysium/ImportLocations/bin/Debug/net6.0/*.pdb
/Elysium/ImportLocations/obj/Debug/net6.0/*.cache
/Elysium/ImportLocations/obj/Debug/net6.0/*.editorconfig
/Elysium/ImportLocations/obj/Debug/net6.0/ImportLocations.GlobalUsings.g.cs
bin
obj
packages
