.tour {
    display: flex;
    padding: 15px;
    border: 2px solid royalblue;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.tour img {
    width: 150px;
}

.tour_content {
    width: calc(100% - 150px);
}

.tour_btns {
    display: flex;
    margin: 5px;
}

@media only screen and (max-width: 480px) {
    .tour {
        flex-direction: column;
    }

    .tour_content {
        width: 100%;
    }
}
